<!doctype html>
<html class="no-js" lang="en">
  <head>

  <!-- Redirect -->
  <meta http-equiv="Refresh" content="5; url='https://jellyjim.com'" />
  <!-- // --> 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#3a3a3a">
    <link rel="canonical" href="https://jellyjim.com/pages/contact-us">
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0378/2325/0572/files/Jelly_Jim_cover_2_cdd2965a-42ab-4114-9405-25535a0a02bf_32x32.jpg?v=1597226012" type="image/png">
    <title>Helpdesk Feedback 
      &ndash; JellyJim Nutrition
    </title>
    <!-- /snippets/social-meta-tags.liquid -->
    <meta property="og:site_name" content="JellyJim Nutrition">
    <meta property="og:url" content="https://jellyjim.com/pages/contact-us">
    <meta property="og:title" content="Contact us">
    <meta property="og:type" content="website">
    <meta property="og:description" content="We’re changing the way the world thinks about gummies. We combine nutritiously blessed plants into efficient everyday supplements that support the vital functions of your body and immunity.">
    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0378/2325/0572/files/DSC03031logo_1200x1200.jpg?v=1606156975">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0378/2325/0572/files/DSC03031logo_1200x1200.jpg?v=1606156975">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact us">
    <meta name="twitter:description" content="We’re changing the way the world thinks about gummies. We combine nutritiously blessed plants into efficient everyday supplements that support the vital functions of your body and immunity.">
    <link href="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/theme.scss.css?v=2635157335306741103" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/custom.styles.scss.css?v=16543559386375037951" rel="stylesheet" type="text/css" media="all" />
    <body id="custom_style" class="template-page page-contact ">
      <div id="shopify-section-custom-header" class="shopify-section">
        <style data-shopify>
          .cart-item-count-bubble{
            position: absolute;
            top: -5px;
            left: 53px;
            width: 15px;
            height: 15px;
            background: red;
            border-radius: 50%;
            font-size: 9px;
            text-align: center;
            color: white;
          }
          .cart-item-count-indicator{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 1px;
          }
        </style>
        <div class="header--wrapper">
          <header data-section-id="header" data-section-type="header-section" class="header" role="banner">
            <script>
              $(".header--wrapper .header").css("margin-top", $(".announcement_bar").outerHeight() + "px");
            </script>
            <div class="container">
              <div class="header--inner">
                <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open nav-menu-icon" aria-controls="MobileNav" aria-expanded="false" aria-label="Menu">
                  <svg role="presentation" class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" width="32" height="21" viewBox="0 0 32 21" fill="none">
                    <path d="M0 2H32M0 10.5H32M0 19H32" stroke="white" stroke-width="2.5"/>
                  </svg>
                  <svg role="presentation" class=" icon-close" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <path d="M1.5 1.5L21.5 21.5M21.5 1.5L1.5 21.5" stroke="black" stroke-width="2.5"/>
                  </svg>
                </button>
                <div class="logo--wrapper">
                  <h1 class="logo--inner">
                    <a href="https://jellyjim.com" class="logo">                
                      <img src="//cdn.shopify.com/s/files/1/0378/2325/0572/files/Jelly_Jim_3_1_x300.png?v=1587367449" alt="">
                    </a>
                  </h1>
                </div>
                <nav class="navigation--desktop" id="AccessibleNav" role="navigation">
                  <ul class="header-menu collapse navbar-collapse" id="navbarCollapse">
                    <li >
                      <a href="https://jellyjim.com/collections/all"
                         class="site-nav__link site-nav__link--main"
                         >
                        <span>Products
                        </span>
                      </a>
                    </li>
                    <li >
                      <a href="https://jellyjim.com/pages/about-us"
                         class="site-nav__link site-nav__link--main"
                         >
                        <span>About us
                        </span>
                      </a>
                    </li>
                    <li  class="site-nav--active">
                      <a href="https://jellyjim.com/pages/contact-us"
                         class="site-nav__link site-nav__link--main site-nav__link--active"
                         aria-current="page"
                         >
                        <span>Contact us
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://jellyjim.com/cart" class="site-header__icon cart--button">
                        Cart 
                        <svg alt="cart" class="carticon" xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none">
                          <path d="M16.7403 18.3755L15.2962 4.62373C15.2659 4.33584 15.0233 4.11725 14.7338 4.11725H12.0196V3.49842C12.0196 1.56946 10.4501 0 8.52117 0C6.59207 0 5.02261 1.56946 5.02261 3.49842V4.11725H2.30841C2.01893 4.11725 1.77627 4.33584 1.74597 4.62373L0.301898 18.3755C0.285228 18.5348 0.336978 18.6938 0.444102 18.813C0.551371 18.932 0.704157 19 0.864336 19H16.1777C16.338 19 16.4908 18.932 16.598 18.813C16.7054 18.6938 16.757 18.5348 16.7403 18.3755ZM6.15357 3.49842C6.15357 2.19307 7.21568 1.13096 8.52117 1.13096C9.82652 1.13096 10.8886 2.19307 10.8886 3.49842V4.11725H6.15357V3.49842ZM1.4923 17.869L2.81765 5.24821H5.02261V6.49442C5.02261 6.80666 5.27585 7.0599 5.58809 7.0599C5.90033 7.0599 6.15357 6.80666 6.15357 6.49442V5.24821H10.8886V6.49442C10.8886 6.80666 11.1419 7.0599 11.4541 7.0599C11.7664 7.0599 12.0196 6.80666 12.0196 6.49442V5.24821H14.2246L15.5499 17.869H1.4923Z"/>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </nav>
                
              </div>
            </div>
          </header>
        </div>
      </div>
            <div class="page-container drawer-page-content" id="PageContainer">
        <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
          <div class="page--wrapper">
            <div class="contact--page">
              <div id="shopify-section-custom-contact-section" class="shopify-section">
                <section id="section--custom-contact-section">
                  <div class="container">
                    <div class="section--inner">
                      <aside class="section-form">
                        <h2>Support Feedback:
                        </h2>
                        <h3>Ticket 
                          <%= ticket%> 
                            </h3>
                          <p>Thank you for sharing your experience, your feedback has been recorded.</p>
                          <p>If you have any further questions, please reach out to hello@jellyjim.com 
                          </p>
                          <br>
                        
                          </form>
                          </div>
                      </aside>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </main>
        <div id="shopify-section-custom-footer_form" class="shopify-section">
        </div>
        <div id="shopify-section-custom-footer" class="shopify-section">
        </div>
        <div id="slideshow-info" class="visually-hidden" aria-hidden="true">Use left/right arrows to navigate the slideshow or swipe left/right if using a mobile device
        </div>
      </div>
      <ul hidden>
        <li id="a11y-refresh-page-message">Choosing a selection results in a full page refresh.
        </li>
        <li id="a11y-selection-message">Press the space key then arrow keys to make a selection.
        </li>
      </ul>  
      <script src="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/ajaxinate.min.js?enable_js_minification=1&amp;v=17393638167515451939" type="text/javascript">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous">
      </script>
      <script src="//cdn.shopify.com/s/files/1/0378/2325/0572/t/38/assets/custom.scripts.js?enable_js_minification=1&v=2694073397061380095">
      </script>
      <div id="shopify-section-custom-modals" class="shopify-section">
        <div data-images="[]" class="modal--wrapper">
          <div class="modal--inner">
            <button class="button--close">
              <span>×
              </span>
            </button>
            <img src="//cdn.shopify.com/s/files/1/0378/2325/0572/products/as_15abd605-23fc-4ad4-be8e-52fe22241f6b_1900x.png?v=1586868121" />
          </div>
        </div>
      </div>
    </body>
    </html>